<html>
<head>
<title>About</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='newstyle.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='font/css/all.min.css')}}">
<nav class="header">
<ul>
	<li><a href="/about1" ><i class="fa-regular fa-address-card"></i>  About us</a></li>
	<li><a href="/register1" ><i class="fa fa-edit"></i>  Register</a></li>
	<li><a href="/login1" ><i class="fa-solid fa-right-to-bracket"></i>  login</a></li>
	<li><a href="/" ><i class="fa-solid fa-house"></i>  Home</a></li>
</ul>
</nav>
</head>
<body>
<br>
<h2 style="font-size:55px ; font-family:comic sans MS; "><center>About Us</center></h2>
<div class="about" style="font-size:25px ; font-family:comic sans MS; ">
  <p>

Reconnect with your neighborhood daily news alerts for local news headlines!<br><br>
Get daily news alerts&update on current events sent straight to your phone,because a small news reader makes a big difference to communities keep up to date with news that impacts your community! Read trending headlines on live local news updates,internatioal news,weather alerts and more. <br><br>
Small news makes a big difference.Download today to stay up to date on all things local.<br>
Local news is different from national india news,trending headlines or global news.NewsTracker believes that local news helps bring neighborhoods together around the unique stories they share in commom.Only local,small news has the unique ability to meaningfully inform the decisions we make throughout the day.<br><br>

Are there any weather alerts or winter storm updates for my area? What about traffic updates? What important events are happening nearly?Stay updated with a crime map for the neighborhood&check for local weather alerts.Join NewsTracker growing local news community.<br><br>

</p>
</div>
</body>
</html>